html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Monda', sans-serif;
}

h1 {
  padding-left: 35%;
  padding right: 35%;
}

.titles{
  font-weight: bold;
}

.info {
  font-weight: normal;
}

#navigationBar {
  height: 5%;
}

#textArea {
  height: 25%;
  width: 100%;
  padding: 1em 1em 1em 1em;
  margin-bottom: 5%;
}

#map {
    height: 60%;
    width: 100%;
}

#leftSide {
    width: 50%;
    float: left;
}

#userSelection {
   /* display: none; */
}

#rightSide {
    height: 95%;
    width: 50%;
    float: right;
}

#infoWindow {
    border: 1px solid black;
    margin-top: 3%;
    overflow: auto;
    height: 100%;
}

#gameTitle {
    display: inline;
}
