<!-- Bootstrap Navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle grouped for better mobile display -->
    <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'game:play' %}">Fight the Infection</a>
    </div>

    <!-- Group links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
				<li><a href="{% url 'game:index' %}">Home</a></li>
				<li><a href="{% url 'game:users' %}">Users</a></li>
				<li><a href="{% url 'game:leaderboard' %}">Leaderboard</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
				<li><a href="/register">Register</a></li>
				<li><a href="/login">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
