<!DOCTYPE html>
<html>
	<head>
		<title>Fight the Infection!</title>
		<meta name="viewport" content="initial-scale=1.0">
		<meta charset="utf-8">
		
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Cousine|Monda" rel="stylesheet">
		{% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'game/css/play.css' %}" />
	</head>
	<body>
		<div id="navigationBar">{% include "game/navigation_bar.html" %}</div>
		<div id="textArea">
            <h1 id="gameTitle">Fight the Infection</h1>
			<div id="leftSide">
				<p class="titles">
					Current Location: <span class="info" id="location"></span>
				</p>
				<br>
				<p class="titles" id="GlobalInfectionRate">
					Global Infection Rate: <span class="info" id="global"></span>
				</p>
				<p class="titles" id="LocalInfectionRate">
					Local Infection Rate: <span class="info" id="local"></span>
				</p>
				<p class="titles" id="numAntidotesText">Number of antidotes: 0</p>
				<div class="buttons" id="userSelection">
					{% csrf_token %}
					<button id="rockButton" class="RPSButton">Quarantine</button>
					<button id="paperButton" class="RPSButton">Cure</button>
					<button id="scissorsButton" class="RPSButton">Rescue</button>
				</div><br>
				<div class="buttons" id="generalButtons">
					<input id="checkLocationButton" type="button" value="Check Location">
					<input id="centerMapButton" type="button" value="Center Map">
					<input id="toggleMapButton" type="button" value="Toggle Map">
				</div>
			</div>
            <div id="rightSide">
                <div id="infoWindow"><p>Information Window</p></div>
            </div>
		</div>
		<div id="map"></div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7lpJkNjlPd3Cl6UJAr7nAyM1U0eMTH6I&callback=initMap"></script>
		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
		<script src="{% static 'game/js/play.js' %}"></script>
		<script src="{% static 'game/js/rockpaperscissor.js' %}"></script>
	</body>
</html>
